.one{
    background-color: aquamarine;
    width: 500px;
    float: left;
}
.two{
    background-color: red;
    width: 500px;
    float: right;
}
.cat{
    float: left;
    clear: both;
}
.dog{
    float: left;
    clear: both;
}
img{
    width: 150px;
}
footer{
    background-color: blue;
    text-align: center;
    clear: both;
}
